toolbar.css
.todos-toolbar{
	background: #fff;
	/*float: left;*/
}

.todos-toolbar {
        height: 32px;
        width: 100%;
        border-top: solid 1px;
        border-color: #e6e6e6;
        position: absolute;
        bottom: 0%;
        padding-top: 8px;
        display: grid;
        grid-template-columns: 30% 45% 25%;
    }
    .todos-toolbar_unready-counter{

        color: #888;
        grid-column: 1;
        margin-left: 16px;
    }
    .todos-toolbar_filters{
        font-size: 14px;
        grid-column: 2;
        padding-left: 10%;
    }
    .todos-toolbar_clear-completed{
        font-size: 14px;
        color: #888;
        grid-column: 3;
        background: none;
        border: none;
        outline: none;
        margin-bottom: 8px;
    }
    .filters-item{
        font-size: 14px;
        color: #888;
        background: none;
        border: none;
        margin-bottom: 8px;
        outline: none;
    }
    .__selected{
        padding-top: 3px;
        border-radius: 3px;
        border: solid 1px;
        border-color: #888;
    }